<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <context-param>
    <param-name>appName</param-name>
    <param-value>FeedbackCollector</param-value>
  </context-param>
  <context-param>
    <param-name>appDir</param-name>
    <param-value>/Users/yunhuang/Center/Study/Codes/CodingProjects/Java/QuizJET/QuizJET_FromPET/</param-value>
  </context-param>
  <context-param>
    <param-name>windows</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>compilerHomeDir</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>reportToUM</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>verbose</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>appID</param-name>
    <param-value>25</param-value>
  </context-param>
  <context-param>
    <param-name>language</param-name>
    <param-value>java</param-value>
  </context-param>
  <context-param>
    <param-name>userModelURL</param-name>
    <param-value>http://adapt2.sis.pitt.edu/cbum/um</param-value>
  </context-param>
  <context-param>
    <param-name>usr</param-name>
    <param-value>adl01</param-value>
  </context-param>
  <context-param>
    <param-name>grp</param-name>
    <param-value>ADL</param-value>
  </context-param>
  <context-param>
    <param-name>db.driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>db.url</param-name>
    <param-value>jdbc:mysql://localhost:3306/webex21</param-value>
  </context-param>
  <context-param>
    <param-name>db.user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>db.passwd</param-name>
    <param-value>root</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ConceptHandler</servlet-name>
    <servlet-class>ConceptHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConceptHandler</servlet-name>
    <url-pattern>/ConceptHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>feedbackBefore</servlet-name>
    <jsp-file>/WEB-INF/jsp/feedbackBefore.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedbackBefore</servlet-name>
    <url-pattern>/feedbackBefore.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>feedbackCorrect</servlet-name>
    <jsp-file>/WEB-INF/jsp/feedbackCorrect.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedbackCorrect</servlet-name>
    <url-pattern>/feedbackCorrect.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>feedbackIncorrect</servlet-name>
    <jsp-file>/WEB-INF/jsp/feedbackIncorrect.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedbackIncorrect</servlet-name>
    <url-pattern>/feedbackIncorrect.jsp</url-pattern>
  </servlet-mapping>
</web-app>